* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:active {
    color: #F9FAF8
}

/*Header*/
header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 20px 5%;
    color: #F9FAF8;
}

header p {
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

/*Hero*/